# redis

UPSTASH_REDIS_URL=""
UPSTASH_REDIS_TOKEN=""

# supabase session pooler
DATABASE_URL=""

# auth

BETTER_AUTH_SECRET=""

# github

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# stripe

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PUBLIC_STRIPE_PRODUCTION=0

# resend

RESEND_API_KEY=""

# r2
STORAGE_BUCKET_URL=""
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
PUBLIC_STORAGE_BUCKET=""