GITHUB_TOKEN=""

GITLAB_TOKEN=""

UPSTASH_REDIS_URL=""
UPSTASH_REDIS_TOKEN=""

DATABASE_URL=""

# auth

BETTER_AUTH_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# payments

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
PUBLIC_STRIPE_PRODUCTION=0

# email

RESEND_API_KEY=""